
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);

.wp-block-starterx-employees {
  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  font-family: "poppins", Arial, sans-serif;

  .employee {
    font-size: 16px;
    line-height: 29px;
    p {
      margin: 0;
    }
    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        border-bottom: 2px #BE8D7E solid;
      }
    }

    &__image {
      display: block;
      margin: 0;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      background-size: cover;
      background-position: center;
      overflow: hidden;
      img {
        display: none;
      }
    }
    &__name {
      margin: 10px 0 0;
      font-weight: bold;
      font-size: 24px;
      line-height: 43px;
    }
    &__title {
      display: inline-block;
      margin-bottom: 12px !important;
      padding-bottom: 6px;
      border-bottom: 1px solid #D6D6D6;
    }
    &__phone, &__email {
      strong {
        display: inline-block;
        margin-right: 4px;
      }
      span {
        word-break: break-word;
      }
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;

    @media (min-width: 640px) {
      @for $i from 2 through 4 {
        &.columns-#{$i} {
          grid-template-columns: repeat($i, 1fr);
        }
      }
    }
  }
}
